<app-menu></app-menu>
<div class='component-content'>
  <div class = 'lefthalf'>
    <span class='component-title'>[{{title}}] </span>
    <span><a routerLink='/purchaserequestlineitem/create'>
          <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
    </span>
  </div>
</div>
<p *ngIf='!purchaseRequestLineItems'>Loading ...</p>
<table class="table table-sm" *ngIf='purchaseRequestLineItems'>
  <tr>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('id')"><u>Id</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('purchaseRequest.id')"><u>Purchase Request</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('product.name')"><u>Product</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('quantity')"><u>Quantity</u></a></th>
  </tr>
  <tr *ngFor='let prli of purchaseRequestLineItems | sort:sortCriteria:sortOrder'>
    <td>{{prli.id}}</td>
    <td>{{prli.purchaseRequest.id}}</td>
    <td>{{prli.product.name}}</td>
    <td>{{prli.quantity}}</td>
    <td class='actions'>
      <a routerLink='/purchaserequestlineitem/detail/{{purchaserequestlineitem.id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
      <a routerLink='/purchaserequestlineitem/edit/{{purchaserequestlineitem.id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a>
    </td>
  </tr> 
</table>

<p>
  purchase-request-line-item-list works!
</p>
